body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1,
h2,
a {
  color: rgb(78, 78, 78);
  text-align: center;
  padding: 20px 0 0 0;
}

h1 {
  padding: 10px;
  font-size: 42px;
}
h2 {
  padding: 0;
  font-size: 20px;
  padding: 0px 0px 10px 0px;
}
input {
  color: rgb(78, 78, 78);
  background-color: rgb(226, 226, 226, 0.5);
  border-color: rgb(9, 146, 180);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
img {
  max-width: 150px;
}

.container {
  margin: 20px auto;
  padding: 30px;
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
  border-color: rgb(9, 146, 180);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.form-buttons {
  color: rgb(78, 78, 78);
  border-color: rgb(9, 146, 180);
  border-style: solid;
  border-width: 2px;
  background-color: rgb(226, 226, 226, 0.5);
  border-radius: 5px;
}
.forecast {
  padding: 15px;
  text-align: center;
  color: rgb(78, 78, 78);
  background-color: rgb(9, 146, 180, 0.5);
  border-radius: 5px;
}
.btn {
  color: rgb(78, 78, 78);
  text-align: center;
  border-width: 0px;
  background-color: rgb(9, 146, 180, 0.5);
  border-radius: 5px;
}
.btn-custom {
  padding: 20px;
  text-align: center;
}
.btn:hover {
  background-color: rgb(9, 146, 180);
  border-color: rgb(9, 146, 180);
}
#github-link {
  text-align: center;
  display: block;
  margin: 0 auto;
}
#github-link:hover {
  color: rgb(26, 26, 26);
}
